<router-outlet></router-outlet>


<!-- <div class="container">
<ul>
  <li *ngFor="let item of data" > {{ item }} </li>
</ul>

<div class="card mt-3">
    <div class="card-body col-5">
      <form #imageForm="ngForm"  (ngSubmit)="addImage(imageForm.value)">
        <label for="image"> add image url </label>
        <input type="text" class="form-control" name="imageUrl" ngModel>
        <button type="submit" class="btn btn-dark my-2"> Add </button>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 my-2" *ngFor="let img of imgs">
      <div class="card">
        <div class="card-body">
          <img [src]="img.imageUrl" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</div> -->