<div class="details">
    <div class="img-holder">
        <img src="/assets/img/cat/{{product.img}}" alt="">
    </div>
    <h2> {{product.name}} </h2>
    <h5> {{product.desc}} </h5>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, quod! Facilis voluptas soluta voluptates autem delectus corrupti nihil numquam amet reprehenderit sint ut, aliquid explicabo quae quod fugit eius facere!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, quod! Facilis voluptas soluta voluptates autem delectus corrupti nihil numquam amet reprehenderit sint ut, aliquid explicabo quae quod fugit eius facere!
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, quod! Facilis voluptas soluta voluptates autem delectus corrupti nihil numquam amet reprehenderit sint ut, aliquid explicabo quae quod fugit eius facere!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, quod! Facilis voluptas soluta voluptates autem delectus corrupti nihil numquam amet reprehenderit sint ut, aliquid explicabo quae quod fugit eius facere!
    </p>
</div>